.navbar{
  display: flex;
  flex-direction: row;
  padding-left: 35px;
  padding-right: 35px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.listItems{
  visibility: visible;
  display: flex;
  flex-direction: row;
  align-items: left;
}

.mobileListOpen {
  background: red;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 50%;
  height: 100%;
  transition: left 1s;
}

.mobileListClose {
  background: red;
  position: fixed;
  left: -100%;
  top: 0px;
  width: 50%;
  height: 100%;
  transition: left 1s;
}

.items {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.8vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px;
  transition: all 0.5s;
}

.items:hover {
  color: blue;
  font-size: 2vh;
  transition: all 0.5s;
}

.menuIcon {
  display: none;
}

ul {
  list-style-type: none;
}

@media only screen and (max-width: 768px){
  .menuIcon {
    display: flex;
  }

  .listItems {
    visibility: hidden;
  }
}

